body {
    font-family: Arial, sans-serif;
    background-color: #9E9E9E;
    margin: 0;
    padding: 0;
}



/* Zone pour mettre une image */
.image-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-top: 20px;
}

.image-container img {
    width: 300px; /* Définir une largeur appropriée */
    height: auto; /* Ajuster la hauteur en fonction de la largeur */
    padding-top: 2em;
}

/* Zone de texte */
.text-container {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto; /* Centrer horizontalement */
    width: 80%; /* Définir la largeur */
    height: auto; /* Ajustement automatique de la hauteur */
    overflow: auto; /* Ajouter une barre de défilement si le contenu dépasse */
}

/* Titre de présentation */
.presentation {
    text-align: center; /* Centrer horizontalement */
    margin-top: 50px; /* Marge top pour espacer du haut de la page */
    color: orange; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Effet d'ombre */
    font-size: 2em; /* Doubler la taille du texte */
    width: 100%;
}

.accueil-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
