body {
    font-family: Arial, sans-serif;
    background-color: #9E9E9E;
    margin: 0;
    padding: 0;
}

/* Barre de navigation */
.navbar {
    background-color: black;
    padding: 30px 30px;
    display: flex;
    justify-content: flex-end;
}

.inscription-button a {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    
}

.inscription-button a:hover {
    background-color: darkorange;
}

/* Zone pour mettre une image */
.image-container {
    margin-top: 20px;
    text-align: center;
}

.container {
    width: 400px;
    margin: 50px auto; /* Marge automatique sur le haut et le bas, centrage horizontal */
    text-align: center; /* Centrage des éléments internes */
}

.text {
    text-align: center;
    margin-bottom: 20px; /* Ajout d'un espace en dessous du texte */
}

.form {
    width: 100%; /* Pour centrer le formulaire */
    max-width: 400px; /* Limiter la largeur du formulaire */
    margin: 0 auto; /* Centrage horizontal */
}

.form label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Centrage horizontal du texte */
    color: orange; /* Couleur orange */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre */
    font-style: italic; /* Texte en italique */
}

.form input,
.form select {
    width: 100%; /* Remplissage de la largeur du formulaire */
    box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form input[type="submit"] {
    width: 100%; /* Remplissage de la largeur du bouton */
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: orange;
}
